<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
		> lang-a-dang-a-ding-dong<br /><br />
		<%= image_tag 'http://www.popbitch.com/home/wp-content/uploads/2009/04/brown-bear.jpg', :size => "438x650" %>
		<br /><br />
		<%= link_to '&lt;- home', root_url %></a>
	</div>
</div>