<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
		> the sudokutron is a black belt in sudoku<br />
		> the sudokutron acknowledges <a href='http://en.wikipedia.org/wiki/Mathematics_of_Sudoku'>wikipedia</a><br />
		> the sudokutron will respond to:<br />
		<br />
		<table width='96%' style='margin-left: 17px; color: #efefef;'>
			<tr>
				<td width='22%'>challenge</td>
				<td>challenge the sudokutron to a number battle</td>
			</tr>
			<tr>
				<td width='22%'>generate</td>
				<td>show a complete, solved sudoku</td>
			</tr>
			<tr>
				<td width='22%'>about</td>
				<td>describe how the sudokutron functions</td>
			</tr>
			<tr>
				<td width='22%'>source</td>
				<td>jump to the sudokutron source code</td>
			</tr>
			<tr>
				<td width='22%'>help</td>
				<td>this page</td>
			</tr>
		</table>
		<br/ >
		<%= link_to '&lt;- home', root_url %></a>
	</div>
</div>