<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
		> the only way to win... is not to play the game.<br /><br />
		<%= link_to '&lt;- home', root_url %></a>
	</div>
</div>