<h1 style='padding-top: 10px'>The Sudokutron</h1>
<br />
<code style='font-size: 16px;'>
	<%= @puzzle.to_s %>
</code>
<br /><br /><br />
all hail sudokutron &middot; <%= link_to 'home', root_url %> &middot; <%= link_to 'generate', new_sudoku_url %>
