body, html {
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'lucida grande', helvetica, arial, sans-serif;
}

div.main:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.main {
	margin-bottom: 20px;
}

img {
	border: 0px;
}

div.header {
	border-top: 3px solid #227BB9;
}

div.container {
	width: 700px;
	margin: 0px auto;
}

div.logo {
	text-align: center;
}

div.footer {
	text-align: center;
	font-size: 11px;
	color: #373737;
	margin-bottom: 20px;
}

div.content {
	margin-bottom: 30px;
}

div.item_container {
	background: #474747;
	-webkit-border-radius: 5px;
	padding: 4px;
	border: 3px solid #373737;
}

div.item {
	-webkit-border-radius: 5px;
	background: #474747;
	padding: 5px;
	color: #F4FBF6;
}

div.machine {
	font-family: courier;
	line-height: 20px;
}

span.simple {
	color: #9C9C9C;
}

input {
	background: #474747;
	border: 0px;
	outline: none;
	color: #fff;
	font-family: courier;
}

input.entry {
	margin-left: 8px;
	font-size: 16px;
}

input.number {
	font-size: 22px;
	border-bottom: 1px solid #efefef;
	margin: 0px;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #38A1FF;
}

a:hover {
	text-decoration: underline;
}

div.menu {
	float: left;
	width: 120px;
	margin-left: 30px;
}

div.puzzle {
	float: right;
	width: 450px;
	color: #999;
	font-size: 22px;
	line-height: 26px;
	margin-right: 20px;
}

table.puzzle {
	border: 3px double #999;
}

table.puzzle td {
	text-align: center;
	padding: 10px;
}

td.limit {
	border-bottom: 1px solid #999;
}

td.side_limit {
	border-right: 1px solid #999;
}

div.about {
	margin: 0px 0px 20px 20px;
}

ul {
	list-style:square;
}