<div class='item_container'>
	<div class='machine item'>
		<span class='simple'>
			> you are weak : the sudokutron knows all<br /><br/ >
		</span>
		<div class='puzzle'>
			<%= @puzzle.to_html %>
		</div>
	</div>
</div>